sudo: required

services:
  - docker

language: go

go:
- 1.12.x

git:
  depth: 1

env:
  global:
    - GO111MODULE=on

install:
  # install dependencies needed by jobs
  - wget https://github.com/kubernetes-sigs/kubebuilder/releases/download/v2.0.0-beta.0/kubebuilder_2.0.0-beta.0_linux_amd64.tar.gz
  - tar -zxvf  kubebuilder_2.0.0-beta.0_linux_amd64.tar.gz
  - sudo mv kubebuilder_2.0.0-beta.0_linux_amd64 /usr/local/kubebuilder

jobs:
  include:
    - stage: unit-test
      if: type IN (push, pull_request)
      script:
      - make cover
      - bash <(curl -s https://codecov.io/bash)

    - stage: publish-latest-image
      if: branch = master AND type = push
      script:
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - make docker-build
      - make docker-push

    - stage: publish-tagged-image
      if: tag IS present
      script:
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - TAG=${TRAVIS_TAG} make docker-build
      - TAG=${TRAVIS_TAG} make docker-push